<div id="master-container-wrapper" class="bgcolor3">
  <div id="master-container" class="noselect">
  	<div id="dialogue-common-region"></div>
  	<!--<div id="sidebar-left" <% if( AppConf.coupon.webFlag || AppConf.mail.webFlag || AppConf.chart.webFlag || AppConf.notification.webFlag ){ %> style="display: none !important" class="sidebar-web" <% } %>></div>-->
    <div id="sidebar-left" <% if( AppConf.webConf.webFlag ){ %> style="display: none !important" class="sidebar-web" <% } %>></div>
  </div>
</div>
<footer></footer>
