<div id="layoutTemplate01" class="tab-pane fade in active">
    <div class="myTemplate">
        <h3 class="ttl-my-template">
            <%= getHeadline()%>
        </h3>
        <div class="banner">
            <div class="inner-bnr">
                <p class="box-photo"><img src="./image/select_template/layoutemplate_image.jpg"></p>
            </div>
            <!-- /.inner-bnr -->
        </div>
        <!-- /.banner -->
        <div class="box-content">
            <div class="box-para">
                <p class="para">
                    <%= getBodyText()%>
                </p>
            </div>
            <!-- /.box-para -->
            <div class="box-button">
                <a class="btn-tmp bnt-more" role="button">
                    <%= getNameBtn(1)%>
                </a>
                <a class="btn-tmp bnt-buy" role="button">
                    <%= getNameBtn(2)%>
                </a>
            </div>
        </div>
        <!-- ./box-content -->
    </div>
</div>
<div id="layoutTemplate02" class="tab-pane fade">
    <div class="layout-template layout02">
        <h4 class="message-subject">
            <%= getSubject()%>
        </h4>
        <h4 class="headline">
            <%= getHeadline()%>
        </h4>
        <div class="body-template">
            <div class="tbl-outer">
                <div class="tbl-inner">
                    <p>
                        <%= getBodyText()%>
                    </p>
                </div>
                <!-- /.tbl-inner -->
            </div>
            <!-- /.tbl-outer -->
        </div>
        <!-- /.body-template -->
        <div class="group-url cf">
            <a class="btn btn-default btn-url" role="button">
                <%= getNameBtn()%>
            </a>
        </div>
        <!-- /.group-url -->
    </div>
    <!-- /.layout-template.layout02 -->
</div>
<!-- /#layoutTemplate02 -->
<div id="layoutTemplate03" class="tab-pane fade">
    <div class="layout-template layout03">
        <h4 class="message-subject">
            <%= getSubject()%>
        </h4>
        <div class="banner">
            <img src="./image/select_template/layoutemplate_image.jpg" width="100%">
            <h4 class="headline">
                <%= getHeadline()%>
            </h4>
        </div>
        <div class="body-template">
            <div class="tbl-outer">
                <div class="tbl-inner">
                    <p>
                        <%= getBodyText()%>
                    </p>
                </div>
                <!-- /.tbl-inner -->
            </div>
            <!-- /.tbl-outer -->
        </div>
        <!-- /.body-template -->
        <div class="group-url cf">
            <a class="btn btn-default btn-url" role="button">
                <%= getNameBtn(1)%>
            </a>
            <a class="btn btn-default btn-url" role="button">
                <%= getNameBtn(2)%>
            </a>
        </div>
        <!-- /.group-url -->
    </div>
    <!-- /.layout-template.layout03 -->
</div>
<!-- /#layoutTemplate03 -->
<div id="layoutTemplate04" class="tab-pane fade">
    <div class="layout-template layout04">
        <h4 class="message-subject">
            <%= getSubject()%>
        </h4>
        <div class="banner">
            <ul class="list-banner">
                <li><img src="./image/select_template/layoutemplate_image.jpg"></li>
                <li><img src="./image/select_template/layoutemplate_image.jpg"></li>
            </ul>
            <!-- /.list-banner -->
            <h4 class="headline">
                <%= getHeadline()%>
            </h4>
        </div>
        <div class="body-template">
            <div class="tbl-outer">
                <div class="tbl-inner">
                    <p>
                        <%= getBodyText()%>
                    </p>
                </div>
                <!-- /.tbl-inner -->
            </div>
            <!-- /.tbl-outer -->
        </div>
        <!-- /.body-template -->
        <div class="group-url cf">
            <a class="btn btn-default btn-url" role="button">
                <%= getNameBtn()%>
            </a>
        </div>
        <!-- /.group-url -->
    </div>
    <!-- /.layout-template.layout04 -->
</div>
<!-- /#layoutTemplate04 -->
<div id="layoutTemplate05" class="tab-pane fade">
    <div class="layout-template layout05">
        <h4 class="message-subject">
            <%= getSubject()%>
        </h4>
        <div class="banner">
            <ul class="list-banner">
                <li><img src="./image/select_template/layoutemplate_image.jpg"></li>
                <li><img src="./image/select_template/layoutemplate_image.jpg"></li>
            </ul>
            <!-- /.list-banner -->
            <h4 class="headline">
                <%= getHeadline(1)%>
            </h4>
        </div>
        <div class="body-template">
            <div class="tbl-outer">
                <div class="tbl-inner">
                    <p>
                        <%= getBodyText(1)%>
                    </p>
                </div>
                <!-- /.tbl-inner -->
            </div>
            <!-- /.tbl-outer -->
        </div>
        <!-- /.body-template -->
        <div class="banner">
            <h4 class="headline">
                <%= getHeadline(2)%>
            </h4>
        </div>
        <div class="body-template">
            <div class="tbl-outer">
                <div class="tbl-inner">
                    <p>
                        <%= getBodyText(2)%>
                    </p>
                </div>
                <!-- /.tbl-inner -->
            </div>
            <!-- /.tbl-outer -->
        </div>
        <!-- /.body-template -->
        <div class="group-url cf">
            <a class="btn btn-default btn-url" role="button">
                <%= getNameBtn(1)%>
            </a>
            <a class="btn btn-default btn-url" role="button">
                <%= getNameBtn(2)%>
            </a>
        </div>
        <!-- /.group-url -->
    </div>
    <!-- /.layout-template.layout05 -->
</div>
<!-- /#layoutTemplate05 -->
<div id="layoutTemplate06" class="tab-pane fade">
    <div id="new-layout-template" class="layout-template layout06">
        <div class="banner">
            <div class="inner-bnr">
                <p class="box-photo"><img src="./image/select_template/layoutemplate_image.jpg"></p>
            </div>
            <!-- /.inner-bnr -->
        </div>
        <!-- /.banner -->
        <div class="box-content">
            <h3 class="title-template bg-color-1 ft-color-1">
                <%= getHeadline()%>
            </h3>
            <div class="box-para bg-color-1 ft-color-1">
                <p class="para">
                    <%= getBodyText()%>
                </p>
            </div>
            <!-- /.box-para -->
            <div class="box-button">
                <a class="btn-tmp bnt-more btn-link bg-color-1 ft-color-1" role="button">
                    <%= getNameBtn(1)%>
                    <span class="arrow-container"><span class="arrow-right"></span></span>
                </a>
            </div>
        </div>
        <!-- ./box-content -->
    </div>
</div>
<!-- /#layoutTemplate06 -->
<div id="layoutTemplate07" class="tab-pane fade">
    <div id="new-layout-template" class="layout-template layout07">
        <h3 class="title-template bg-color-1 ft-color-1">
            <%= getHeadline()%>
        </h3>
        <div class="box-para ft-color-2">
            <p class="para">
                <%= getBodyText()%>
            </p>
        </div>
        <!-- /.box-para -->
        <div class="banner">
            <div class="inner-bnr">
                <p class="box-photo"><img src="./image/select_template/layoutemplate_image.jpg"></p>
            </div>
            <!-- /.inner-bnr -->
        </div>
        <!-- /.banner -->
        <div class="box-content">
            <div class="box-button">
                <a class="btn-tmp bnt-more btn-link bd-color-2 ft-color-2" role="button">
                    <%= getNameBtn(1)%>
                    <span class="arrow-container bd-2"><span class="arrow-right"></span></span>
                </a>
            </div>
        </div>
        <!-- ./box-content -->
    </div>
</div>
<!-- /#layoutTemplate07 -->
<div id="layoutTemplate08" class="tab-pane fade">
    <div id="new-layout-template" class="layout-template layout08">
        <h3 class="subject bg-color-1 ft-color-1">
            <%= getSubject()%>
        </h3>
        <div class="box-content">
            <div class="banner">
                <div class="inner-bnr">
                    <p class="box-photo"><img src="./image/select_template/layoutemplate_image.jpg"></p>
                </div>
                <!-- /.inner-bnr -->
            </div>
            <!-- /.banner -->
            <div class="layout-body">
                <h4 class="title-template ft-color-2">
                    <%= getHeadline(1)%>
                </h4>
                <div class="box-para ft-color-2">
                    <p class="para">
                        <%= getBodyText(1)%>
                    </p>
                </div>
                <!-- /.box-para -->
                <div class="box-button">
                    <a class="btn-tmp bnt-more btn-link bd-color-2 ft-color-2" role="button">
                        <%= getNameBtn(1)%>
                        <span class="arrow-container bd-2"><span class="arrow-right"></span></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- ./box-content -->
        <div class="box-content">
            <div class="banner">
                <div class="inner-bnr">
                    <p class="box-photo"><img src="./image/select_template/layoutemplate_image.jpg"></p>
                </div>
                <!-- /.inner-bnr -->
            </div>
            <!-- /.banner -->
            <div class="layout-body">
                <h4 class="title-template ft-color-2">
                    <%= getHeadline(2)%>
                </h4>
                <div class="box-para ft-color-2">
                    <p class="para">
                        <%= getBodyText(2)%>
                    </p>
                </div>
                <!-- /.box-para -->
                <div class="box-button">
                    <a class="btn-tmp bnt-more btn-link bd-color-2 ft-color-2" role="button">
                        <%= getNameBtn(2)%>
                        <span class="arrow-container bd-2"><span class="arrow-right"></span></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- ./box-content -->
    </div>
</div>
<!-- /#layoutTemplate08 -->
<div id="layoutTemplate10" class="tab-pane fade">
    <div id="new-layout-template" class="layout-template layout10">
        <h3 class="subject"><%= getSubject()%></h3>
        <p class="header"><%= getHeadline()%></p>
        <div class="box-content">
            <div class="banner">
                <div class="inner-bnr">
                    <p class="box-photo" style="background-image:url(./image/select_template/layoutemplate_image.jpg)"></p>
                </div>
                <!-- /.inner-bnr -->
            </div>
            <div class="box-para">
                <!-- /.banner -->
                <h4 class="title-template">
                    <%= getHeadline(1)%>
                </h4>
                <p class="para">
                    <%= getBodyText(1)%>
                </p>
            </div>
        </div>
        <!-- ./box-content -->
        <div class="box-content">
            <div class="banner">
                <div class="inner-bnr">
                    <p class="box-photo" style="background-image:url(./image/select_template/layoutemplate_image.jpg)"></p>
                </div>
                <!-- /.inner-bnr -->
            </div>
            <div class="box-para">
                <!-- /.banner -->
                <h4 class="title-template">
                    <%= getHeadline(2)%>
                </h4>
                <p class="para">
                    <%= getBodyText(2)%>
                </p>
            </div>
        </div>
        <!-- ./box-content -->
        <div class="box-content">
            <div class="banner">
                <div class="inner-bnr">
                    <p class="box-photo" style="background-image:url(./image/select_template/layoutemplate_image.jpg)"></p>
                </div>
                <!-- /.inner-bnr -->
            </div>
            <div class="box-para">
                <!-- /.banner -->
                <h4 class="title-template">
                    <%= getHeadline(3)%>
                </h4>
                <p class="para">
                    <%= getBodyText(3)%>
                </p>
            </div>
        </div>
        <!-- ./box-content -->
        <div class="box-content">
            <div class="banner">
                <div class="inner-bnr">
                    <p class="box-photo" style="background-image:url(./image/select_template/layoutemplate_image.jpg)"></p>
                </div>
                <!-- /.inner-bnr -->
            </div>
            <div class="box-para">
                <!-- /.banner -->
                <h4 class="title-template">
                    <%= getHeadline(4)%>
                </h4>
                <p class="para">
                    <%= getBodyText(4)%>
                </p>
            </div>
        </div>
        <!-- ./box-content -->
    </div>
</div>
<!-- /#layoutTemplate10 -->
<div id="layoutTemplate09" class="tab-pane fade">
    <div id="new-layout-template" class="layout-template layout09">
        <div class="banner">
            <div class="inner-bnr">
                <p class="box-photo" style="background-image:url(./image/select_template/layoutemplate_image.jpg)"></p>
            </div>
            <!-- /.inner-bnr -->
        </div>
        <!-- /.banner -->
        <div class="box-content">
            <h2 class="subject">
                <%= getSubject()%>
            </h2>
            <h3 class="title-template">
                <%= getHeadline()%>
            </h3>
            <div class="box-para">
                <p class="para">
                    <%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%>
                </p>
            </div>
            <!-- /.box-para -->
            <div class="box-button">
                <a class="btn-tmp bnt-more btn-link" role="button">
                    <%= getNameBtn(1)%>
                </a>
            </div>
        </div>
        <!-- ./box-content -->
    </div>
</div>
<!-- /#layoutTemplate09 -->

<div id="layoutTemplate11" class="tab-pane fade">
    <div id="new-layout-template" class="layout-template layout11">
        <div class="box-content">
            <!-- <h2 class="subject">
                <%= getSubject()%>
            </h2> -->
            <div class="box-para">
                <p class="para">
                    <%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%>
                </p>
            </div>
        </div>
        <!-- ./box-content -->
    </div>
</div>
<!-- /#layoutTemplate11 -->

<div id="layoutTemplate12" class="tab-pane fade">
    <div id="new-layout-template" class="layout-template layout12">
        <div class="banner">
            <div class="inner-bnr">
                <p class="box-photo">
                    <img class="logo" src="./image/select_template/200x50.png">
                </p>
            </div>
            <!-- /.inner-bnr -->
        </div>
        <!-- /.banner -->
        <div class="box-content">
            <div class="box-para">
                <p class="para">
                    <%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%>
                </p>
            </div>
        </div>
        <!-- ./box-content -->
        <div class="banner">
            <div class="inner-bnr">
                <p class="box-photo">
                    <img src="./image/select_template/layoutemplate_image.jpg">
                </p>
            </div>
            <!-- /.inner-bnr -->
        </div>
        <!-- /.banner -->
        <div class="box-content">
            <div class="box-para">
                <p class="para">
                    <%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%><%= getBodyText()%>
                </p>
            </div>
        </div>
        <!-- ./box-content -->
        <div class="banner">
            <div class="inner-bnr">
                <p class="box-photo">
                    <img src="./image/select_template/layoutemplate_image.jpg">
                </p>
            </div>
            <!-- /.inner-bnr -->
        </div>
        <!-- /.banner -->
    </div>
</div>
<!-- /#layoutTemplate11 -->