<div class="greybg" id="greybg"></div>

<!-- Start - Dialog Common -->
<div class="dialogue" id="notice_dialogue">
  <div class="content">
    <h1 class="title_dialogue"></h1>
    <p class="message"></p>
    <a class="btn_confirm">OK</a>
  </div>
</div>
<div class="dialogue" id="notice_dialogue_1">
  <div class="content">
    <h1 class="title_dialogue"><%= getBackHomeTitle() %></h1>
    <p class="message"><%= getBackHomeMsg() %></p>
    <a class="btn_cancel_home back-home"><%= getBackHomeBtnCancel() %></a>
    <a class="btn_confirm_home back-home">OK</a>
  </div>
</div>
<!-- End - Dialog Common -->