//====================================================
//---------------------- MAIN CSS --------------------
//====================================================
$baseColor: #F0F1F5;
$mainColor: #10385F;
$overLayZIndex: 9999;

.page{
	height: 100%;
}

#HINAGATA{
	.APP-HEADER{
		display: fixed;
		text-align: center;
		border: solid 0px $mainColor;
		border-bottom-width: 2px;
		z-index: 1100;

		.HEADER-INNER-WRAPPER{
			width: 100%;
			height: 100%;
			background-color: $baseColor;
			.TITLE{
				color: $mainColor;
				font-size: 18px;
				font-weight: bold;
			}

			.HEADER-LEFT{
				position: absolute;
				left: 0px;
				z-index: 1;
			}
			.HEADER-RIGHT{
				position: absolute;
				right: 0px;
				z-index: 1;
			}
			.BACK-BUTTON-WRAPPER{
				display: inline-block;
				height: 40px;
				.BACK-BUTTON{
					//background: $mainColor;
					background-image: url('../image/common/btn_back.svg');
					background-repeat: no-repeat;
					background-position: left center;
					color: white;
					padding: 5px 10px;
					margin-left: 10px;
					border-radius: 5px;
					font-size: 12px;
					border: none;
				}

			}

		}

	}


}

body{
	background-size: 100%;
	color: #29235C;
}

.cf:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.cf { display: inline-block; }
/* start commented backslash hack \*/
* html .cf { height: 1%; }
.cf { display: block; }
/* close commented backslash hack */

#master-container{
	background: none;
	height: 100vh;
}

.A-NAVS{
	font-size: 18px;

	li{
		height: 65px;
		line-height: 65px;
		box-sizing: border-box;
		padding: 0px 20px;
		color: white;

		&:nth-child(3n+1){ background-color: rgba( 0, 0, 0,0.3);} 
		&:nth-child(3n+2){ background-color: rgba(20,20,20,0.3);} 
		&:nth-child(3n+0){ background-color: rgba(40,40,40,0.3);} 

	}

};

.VERTICAL-NAV{
	box-sizing: border-box;
}

.emptyView{
	text-align: center;
	padding-top: 15px;
}

.readMoreButton{
	width: 100%;
	height: 50px;
	border: none;
	color: black;
	background-color: lightgrey;
}

// .icon-japan {
// 	fill: #000;
// }

.multi_language {
    padding: 10px 15px 0 0;
	li {
		display:inline-block;
		height:25px;
		width:25px;
		margin-left:2px;
		&.active {
			.icon-england {
				.st9 {
					fill:#273476;
				}
				.st1,.st2,.st3,.st4 {
					fill:#010101;	
				}
			}
			.icon-japan {
				.st1 {
					fill:#BD2031;
				}
			}
		}
		.icon-england {
			.st9 {
				fill:#999;
			}
			.st1,.st2,.st3,.st4 {
				fill:#999;
			}
		}
		.icon-japan {
			.st0 {
				fill:#fff;
			}
			.st1 {
				fill:#999;
			}
		}
		svg {
			width:100%;
			height:100%;
			display:block;
		}
	}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	 -khtml-user-select: none; /* Konqueror */
	   -moz-user-select: none; /* Firefox */
	    -ms-user-select: none; /* Internet Explorer/Edge */
	        user-select: none; /* Non-prefixed version, currently
	                              not supported by any browser */
}

@import "./login.scss";
@import "./sidebar_master.scss";
@import "./create_message.scss";
@import "./chart_board.scss";
@import "./select_type.scss";
@import "./select_template.scss";
@import "./message_content.scss";
@import "./message_setting.scss";
@import "./confirm.scss";
@import "./datepicker.scss";
@import "./dialogue_common.scss";
@import "./upload_image.scss";
@import "./coupon_master.scss";

// chart
@import "./chart/graph.scss";
@import "./chart/d3.scss";
@import "./chart/select_range_date.scss";
@import "./chart/select_monetary.scss";
@import "./chart/advance_chart.scss";
@import "./chart/twentytwenty.scss";
@import "./chart/export_data.scss";
@import "./chart/modal_store.scss";