<div id="dialogue-region"></div>
<div id="create_message" class="BACKBONE-PAGE">
    <!-- <div class="transbg" id="transbg"></div> -->
    <div id="wrapper">
        <!-- <div id="dialogue-common-region"></div> -->
        <a href="#notificationSetting" class="create_message_button"><i class="createbtn"></i></a>
        <a id="history-back" class="history_back_button"><i class="fa fa-reply" aria-hidden="true"></i></a>
        <div class="main_screen">
            <div class="inner">
                <div class="topbar navbar-static-top cf <% if (AppConf.webConf.webFlag){ %>webChart<% }%>">
                    <h2 class="section-title"><%= getText("titleNotification")%></h2>
                    <ul class="leftbar navbar-header">
                        <li class="menu-title"><span data-id=""><%= getText("all")%></span></li>
                        <li class="menu-title active"><span data-id="0"><%= getText("draft")%></span></li>
                        <li class="menu-title"><span data-id="2"><%= getText("inProgress")%></span></li>
                        <li class="menu-title"><span data-id="3"><%= getText("complete")%></span></li>
                        <li class="menu-title"><span data-id="1"><%= getText("lisUp")%></span></li>
                        <li class="menu-title"><span data-id="9"><%= getText("error")%></span></li>
                    </ul><!--End leftbar -->
                    <label id="search-label" class="fa fa-search"></label>
                    <ul class="rightbar">
                        <li>                            
                            <input type="text" placeholder="<%= getText("searchPlaceholder")%>" id="search-terms" class="" name="search-terms">
                        </li>
                    </ul><!--End rightbar -->
                </div><!--End top bar -->
                <div class="message_board">
                    <div class="list-message" data-atbottom="0">
                        <div id="main-nav-region"></div>
                    </div>
                </div>
            </div><!--End message board -->
        </div><!-- Main screen -->
    </div> <!-- /#APP-TOP -->
</div>
<%= App.util.injectProgressScreenDom()  %>

