<div id="new-layout-template" class="layout-template layout11">
    <div class="box-content">
        <!-- <h2 class="subject">
            <% if ( subjectTitle ) { %>
              <span id="subjectTitle"><%= subjectTitle %></span>
            <% } else { %>
              <span id="subjectTitle"><%= getSubject()%></span>
            <% } %>
        </h2> -->
        <div class="box-para">
            <p class="para">
                <iframe id="iframe-bodyTextOne" scrolling="no">
                </iframe>
            </p>
        </div>
        <!-- /.box-para -->
    </div>
    <!-- ./box-content -->
</div>